.pc_body {
    display: flex;
    justify-content: space-between;
    width: 17.552vw;
}
.pc_body_title {
    margin-bottom: 1.145vw;
}
.pc_body_change_mon {
    padding:0 0.3125vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25vw;
}
.rows_title {
    flex: 1;
    justify-content: center;
    display: flex;
}
.rows {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.29vw;
    flex: 1;
    position: relative;
    margin: 2px 0;
}
.ows-con-start-half {
    position: absolute;
    width: 50%;
    height: 2.29vw;
    background: #F6F7FA;
    right: 0;
    top: 0;
}
.ows-con-end-half {
    width: 50%;
    height: 2.29vw;
    background: #F6F7FA;
    position: absolute;
    left: 0;
    top: 0;
}
.rows-con {
    width: 2.08vw;
    height: 2.08vw;
    line-height: 2.08vw;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    z-index: 1;
}

.rows-has-date:hover {
    border-radius: 1.04vw;
    border: 1px solid #3FA1D9;
}

.rows-disable {
    color: #CCCCCC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: line-through;
}

/* 开始日期 */
.m2m-picker-cell-in-start {
    background: #3FA1D9;
    /* border-radius: 50%; */
    color: white;
    border-radius: 20px;
}
/* 选择 */
.m2m-picker-cell-in-range {
    background: #F6F7FA;
}
/* 结束日期 */
.m2m-picker-cell-in-end {
    background: #0A0A28;
    color: white;
    border-radius: 20px;
}

.arr_left {
    border-top: 1.5px solid #0A0A28;
    border-left: 1.5px solid #0A0A28;
    transform: rotate(-45deg);
    width: 0.416vw;
    height: 0.416vw;
    cursor: pointer;
}
.arr_right {
    border-top: 1.5px solid #0A0A28;
    border-left: 1.5px solid #0A0A28;
    transform: rotate(135deg);
    width: 0.416vw;
    height: 0.416vw;
    cursor: pointer;
}

